@import url('https://fonts.googleapis.com/css?family=Roboto');
@media (device-width: 500px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    #nav-bar{
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }

}
body{
    background-color: ghostwhite;

    font-family: 'Roboto', sans-serif;;
}

.container{
    display: flex;
    justify-items: center;
    justify-content: center;
    background-color: lavender;
    max-width: 900px;
    width: 100%;
    margin: 70px auto;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
#details{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 50px;
    width: 33vh;
    text-align:left ;
    flex-wrap: wrap;
}
#image{
    align-items: center;
    align-content: center;
    padding: 50px;
}
#email{
    transition: width 0.4s ease-in-out;
}
#email:focus{
    width:100%
}
footer{
    display: flex;
    justify-content: center;
    max-width: 900px;
    max-height: 250px;
    margin:10px auto;
    background-color: lavender;
    height:100%;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#form{
    justify-content: flex-end;
}
#product{
    align-items: center;
    align-content: center;
    padding: 30px;
}
#pricing{
    align-items: center;
    align-content: center;
    padding: 50px;

}
#header-img{
    height: 50px;
    width: 50px;
    align-self: center;
}
#nav-bar{
    position: fixed;
    top: 0;
    min-height: 30px;
    padding: 5px 60px;
    display: flex;
   justify-content: space-around;
    background-color: lavender;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    justify-content: center;

}
li {

    float: left;
}
.nav-link{
    text-decoration: none;
    display: inline-block;
    padding: 15px 15px;
    width:15vh;
    text-shadow: 2px 2px 8px grey;
}
#pricing{
    padding: 20px;

}
#submit{
    margin: 20px auto;

}